<div class="header">
    <%= link_to "â†", root_path, class:"arrow-back" %>
    <h2 class="groups-title">Add New Category</h2>
</div>

<div class="form-container">
<%= form_with model: @group, url: groups_path, local: true do |f| %>
  <%= f.text_field :name, autofocus: true, placeholder: "Category Name", class:"form-control log" %>
  
  <div class="form-group">
    <%= f.collection_select(:icon, [
        ['cash.png', 'Investment ðŸ’µ'],
        ['hospital.png', 'Health ðŸ¥'],
        ['shopping.png', 'Shopping ðŸ›ï¸'],
        ['sports.png', 'Sports âš½'],
        ['popcorn.png', 'Movies ðŸ¿'],
        ['travel.png', 'Travel âœˆï¸'],
        ['more.png', 'Others ðŸ““']
      ], :first, :last, { prompt: 'Select Icon' }, { class: 'form-control log' }) %>
  </div>
  <div class="fixed-button">
    <div class="save-div link-to">
      <%= f.submit "Save", class:"save-button-des"%>
    </div>
  </div>
<% end %>
</div>