<%= render "shared/nav" %>
<h1 class="title">Add New Category</h1>

<div class="form-container">
<%= form_with model: @group, url: groups_path, local: true do |f| %>
  <%= f.text_field :name, autofocus: true, placeholder: "Category Name", class:"form-control" %>
  
  <div class="form-group">
    <%= f.label :icon, "Select Icon" %>
    <%= f.collection_select(:icon, [
        ['cash.png', 'Investment ðŸ’µ'],
        ['hospital.png', 'Health ðŸ¥'],
        ['shopping.png', 'Shopping ðŸ›ï¸'],
        ['sports.png', 'Sports âš½'],
        ['popcorn.png', 'Movies ðŸ¿'],
        ['travel.png', 'Travel âœˆï¸'],
        ['more.png', 'Others ðŸ““']
      ], :first, :last, { prompt: 'Select Icon' }, { class: 'form-control' }) %>
  </div>

  <%= f.submit "Save", class:"btn btn-primary sign-up" %>
<% end %>
</div>