<h2 class="title">Forgot your password?</h2>

<div class="form-container">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group mx-sm-3 mb-2">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary sign-up"  %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>
</div>