<%= render "shared/nav" %>
<div class="back button">
    <%= link_to 'Back to Category Page'.html_safe, group_path(@group.id), class: "back"%>
</div>

<h3 class="title">Add a new transaction</h3>

<div class="form-container">
  <%= form_with model: @expense, url: group_expenses_path, local: true do |f| %>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control" %>
    <%= f.number_field :amount, autofocus: true, placeholder: "Amount", class: "form-control" %>
    <div class="checkbox-btn">
      <%= f.label :group_ids, "Select one or more categories:" %>
      <div class="checkboxes">
        <%= f.collection_check_boxes :group_ids, current_user.groups, :id, :name do |b| %>
          <div class="form-control">
            <%= b.check_box %>
            <%= b.label %>
          </div>
        <% end %>
      </div>
      
      <%= f.submit "Save", class: "btn btn-primary sign-up" %>
    </div>
  <% end %>
</div>